html,
body {
  background-color: black;
  /* background-size: cover; */
  margin: 0;
  padding: 0;
  border-style: none;
  font-family: 'Orbitron', sans-serif;
}

.nav {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 50px;
  color: #fff;
  flex-direction: column-reverse;
  float: right;
  margin-right: 40px;
  margin-top: 40px;
}

li:hover {
  background-color: rgb(237, 237, 110);
  text-decoration: underline;
}

.main {

  background-image: url(./IMG-20210831-WA0011.jpg);
  background-size: cover;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  margin-left: 120px;
  color: aliceblue;
  box-shadow: 1px 1px 15px black;
}

h1 {
  font-size: 28px;
  color: white;
  width: 400px;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

span {
  color: #ff2d75;
  font-size: 35px;
}

.about-me h1 {
  color: #fff;
  position: relative;
  left: 500px;
}


.about-me p {
  position: relative;
  width: 400px;
  left: 520px;
  line-height: 25px;

}

.card {
  width: 360px;
  display: inline-block;
  background: linear-gradient(rgb(127, 38, 237), rgb(203, 238, 48), rgb(212, 41, 221));
  background-size: cover;
  border-radius: 12px;
  position: relative;
  left: 80px;
  right: 80px;
  top: 30px;
  bottom: 30px;
  margin: 20px 10px;
}


h3 {
  color: rgb(236, 231, 231);
  font-size: 18px;

}

button {
  height: 30px;
  width: 100px;
  background-color: rgb(31, 29, 29);
  border-radius: 12px;
  border-style: none;
  color: #fff;
  box-shadow: #fff;
  border-radius: 12px;

}

button:hover {
  content: "";
  background-color: #ed5dc2;
}

.title {

  text-align: center;
  padding: 10px;

}

.des {
  padding-bottom: 30px;
  text-align: center;
  padding-top: 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.main {
  z-index: 1;
}

