html,
body {
  background: linear-gradient(85deg, rgb(230, 71, 171), rgb(95, 194, 207), rgb(227, 143, 236), #ee7c7c, rgb(198, 235, 137));
  background-size: cover;
  margin: 0;
  padding: 0;
  border-style: none;
  font-family: 'Orbitron', sans-serif;
}

.nav {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 50px;
  color: #fff;
  flex-direction: column-reverse;
  float: right;
  margin-right: 40px;
  margin-top: 40px;
}

li:hover {
  background-color: rgb(237, 237, 110);
  text-decoration: underline;
}

.main {

  background-image: url(./IMG-20210831-WA0011.jpg);
  background-size: cover;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  margin-left: 120px;
  color: aliceblue;
  box-shadow: 1px 1px 15px black;
}

h1 {
  font-size: 28px;
  color: white;
  width: 400px;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

span {
  color: #ff2d75;
  font-size: 35px;
}

.about-me h1 {
  color: #fff;
  position: relative;
  left: 500px;
}


.about-me h3 {

  position: relative;
  width: 400px;
  left: 520px;

}

.card {
  width: 360px;
  display: inline-block;
  background: linear-gradient(rgb(103, 62, 154), rgb(224, 244, 137), rgb(202, 78, 208));
  background-size: cover;
  box-shadow: 1px 1px 20px black;
  border-radius: 12px;
  position: relative;
  left: 80px;
  right: 80px;
  top: 30px;
  bottom: 30px;
  margin: 20px 10px;
}


h3 {
  color: rgb(236, 231, 231);
  font-size: 18px;

}

button {
  height: 30px;
  width: 100px;
  background-color: rgb(31, 29, 29);
  border-radius: 12px;
  border-style: none;
  color: #fff;
  box-shadow: 1px 1px 10px rgb(50, 38, 47);
  border-radius: 12px;

}

button:hover {
  content: "";
  background-color: #ed5dc2;
}

.title {

  text-align: center;
  padding: 10px;

}

.des {
  padding-bottom: 30px;
  text-align: center;
  padding-top: 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.main {
  z-index: 1;
}

.bubbles {
  position: relative;
  display: flex;
  z-index: 2;
}

.bubbles span {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0 4px;
  border-radius: 50%;
  background-color: rgb(92, 148, 181);
  box-shadow: 0 0 0 8px #4fc3dc44,
    0 0 20px #4fc3dc,
    0 0 20px #4fc3dc;
  animation: animate 15s linear infinite;
  animation-duration: calc(305s /var(--i));
}

.bubbles span:nth-child(even) {
  background-color: #ff2d75;
  box-shadow: 0 0 0 8px #4fc3dc44,
    0 0 20px #ff2d75,
    0 0 20px #ff2d75;
}

@keyframes animate {
  100% {
    transform: translateY(100vh) scale(0);
  }

  10% {
    transform: translateY(0100vh) scale(0);
  }
}